{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center text-dark">Hub Facility</h1>
<div class="row  ">   
    {% for facility in facilities %}
    <div class="col-md-4  mb-5">
        <div class="card">
            <img src="{{ facility.image.url }}" class="card-img-top" alt="{{ facility.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ facility.title }}</h5>
                <p class="card-text">{{ facility.description }}</p>
                <p class="card-text">{{ facility.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
